* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

img {
    height: auto;
    width: 50px;
}

a, btn {
    cursor: pointer;
}

